/* ini css */

.main-header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    

}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image:url(../assets/image/gambar1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
   
}

nav {
    display: flex;
}

nav>a {
    border:1px solid;
    padding:8px;
    text-decoration:none;
    color: black;
}

.photo-banner {
    height: 250px;
    background-image: url(../assets/image/gambar2.jpg);
    background-size: cover;
   
}

.article {
    height: 300px;
}

.massage-container {
    display:flex ;
}

footer>div {
    text-align: center;
    font-family: cursive;
    font-size: small;
}